<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#436d4e" />
    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %} - FirstByte</title>

    {% load static %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <link rel="stylesheet" href="{% static 'firstbyte/style/main.css' %}" />
    {% block head %}{% endblock %}
    {% block ga %}{% if GA_TRACKING_ID %}{% include 'firstbyte/ga.html' %}{% endif %}{% endblock %}
</head>
<body class="d-flex flex-column">
    <nav class="sticky-top navbar navbar-expand-lg navbar-light bg-green py-3">
        <a class="navbar-brand" href="#">FIRSTBYTE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-links" class="collapse navbar-collapse justify-content-end text-nowrap">
            <div class="navbar-nav">
                <a class="nav-item nav-link mx-2" href="{% url 'index' %}">About</a>
                <a class="nav-item nav-link mx-2" href="{% url 'list-event' %}">Get Involved</a>
                <a class="nav-item nav-link mx-2" href="{% url 'list-lesson-plan' %}">Find Curricula</a>
                <a class="nav-item nav-link mx-2" href="{% url 'create-lesson-plan' %}">Share Curriculum</a>
                <a class="nav-item nav-link mx-2" href="{% url 'loaner-program' %}">Loaner Program</a>
            </div>

            <div class="navbar-nav ml-auto justify-content-end col-sm-4">
                {% load account %}
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link mx-2" href="{% url 'me' %}">My Profile</a>
                    {% with idstr=user.id|stringformat:"s"|add:"/" %}
                            {% with profile_url="/user/"|add:idstr %}
                                {% if request.path == profile_url %}
                                    <a class="nav-item nav-link mx-2" href="{% url 'account_logout' %}?next=/">Sign Out</a>
                                {% else %}
                                    <a class="nav-item nav-link mx-2" href="{% url 'account_logout' %}?next={{ request.get_full_path }}">Sign Out</a>
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                {% else %}
                    <a class="nav-item nav-link ml-2" href="{% url 'account_login' %}">Log In</a>
                    <a class="nav-item nav-link ml-2" href="{% url 'account_signup'%}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="flex-fill d-flex flex-column align-items-stretch">
        {% block outer_content %}{% block content %}{% endblock %}{% endblock %}
    </main>

    <footer>
        <div class="footer-bg-container bg-green text-light">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-sm-2">
                        <h6 class="footer-nav-header mb-0">MENU</h6>
                        <ul class="list-unstyled mb-2">
                            <li><a href="{% url 'list-lesson-plan' %}">Find curricula</a></li>
                            <li><a href="{% url 'create-lesson-plan' %}">Share curricula</a></li>
                            <li><a href="{% url 'loaner-program' %}">Borrow materials</a></li>
                            <li><a href="{% url 'list-event' %}">Events</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h6 class="footer-nav-header mb-0">USER</h6>
                        <ul class="list-unstyled mb-2">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'me' %}">My Profile</a></li>
                            {% with idstr=user.id|stringformat:"s"|add:"/" %}
                                {% with profile_url="/user/"|add:idstr %}
                                    {% if request.path == profile_url %}
                                        <li><a href="{% url 'account_logout' %}?next=/">Sign Out</a></li>
                                    {% else %}
                                        <li><a href="{% url 'account_logout' %}?next={{ request.get_full_path }}">Sign Out</a></li>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% else %}
                            <li><a href="{% url 'account_login' %}">Log In</a></li>
                            <li><a href="{% url 'account_signup'%}">Sign Up</a></li>
                        {% endif %}
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h6 class="footer-nav-header mb-0">CONTACT</h6>
                        <ul class="list-unstyled mb-2">
                            <li><a href="mailto:info@teachfirstbyte.org">Contact us</a></li>
                            <li><a href="{% url 'volunteer-redirect' %}">Join our team</a></li>
                            <li><a href="https://www.facebook.com/teachfirstbyte" target="blank">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/company/firstbyte/" target="blank">LinkedIn</a></li>
                            <li><a href="https://www.twitter.com/teachfirstbyte" target="blank">Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UCWe9XS5lyxFqqyqMM4M6eQQ" target="blank">YouTube</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 offset-sm-2">
                        <h6 class="footer-nav-header mb-0">ADDITIONAL LINKS</h6>
                        <div class="row my-0">
                            <div class="col">
                                    <ul class="list-unstyled mb-2">
                                        <li><a href="{% url 'media-release-form' %}">Media release form</a></li>
                                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                                        <li><a href="{% url 'submit-website-feedback' %}">Submit feedback</a></li>
                                        <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="footer-license">
                    <p>This site and <i>all curricula</i> found on this site are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</p>
                </div>
            </div>
        </div>
        <div class="py-2 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-center text-muted mr-5">&copy; 2018 FirstByte</span>
                        <span class="text-muted px-2">|</span>
                        <span class="text-muted"><a href="https://github.com/lukesanantonio/firstbyte" target="blank">View project on Github</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>
