<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %} - FirstByte Curriculum</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static "firstbyte/style/pills.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "firstbyte/style/main.css" %}" />
    <link rel="stylesheet" href="{% static "firstbyte/style/forms.css" %}" type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="header-container">
        <header class="row">
            <img id="logo" src="{% static "firstbyte/img/logo.png" %}"/>
            <nav>
                {% spaceless %}
                    <a href={% url 'index' %}>About Us</a>
                    <a href={% url 'list-lesson-plan' %}>Find Curriculum</a>
                    <a href={% url 'create-lesson-plan' %}>Submit Curriculum</a>
                {% endspaceless %}
            </nav>
            <span id="user-banner">
                {% load account %}
                {% if user.is_authenticated %}
                Hello, <a href="{% url 'me' %}">{% user_display user %}</a>
                    (<a href="{% url 'account_logout' %}?next={{ request.get_full_path }}">Sign out</a>)
                {% else %}
                    <a href="{% url 'account_login' %}">Log in</a>
                    (<a href="{% url 'account_signup'%}">Sign up</a>)
                {% endif %}
            </span>
        </header>
    </div>
    <section id="content">
        <div class="row">
            {% block content %} {% endblock %}
        </div>
    </section>
    <footer>
        <div class="row footer-nav">
            <div class="one-third column">
                <p class="footer-nav-header">TeachFirstByte.org</p>
                <ul class="footer-nav-content">
                    <li><a href="https://teachfirstbyte.org/">Home</a></li>
                    <li><a href="https://teachfirstbyte.org/about/">About Us</a></li>
                    <li><a href="https://teachfirstbyte.org/curriculum/">Curriculum</a></li>
                    <li><a href="https://teachfirstbyte.org/contact/">Contact</a></li>
                    <li><a href="https://teachfirstbyte.org/blog/">Blog</a></li>
                    <li><a href="https://teachfirstbyte.org/surveys">Surveys</a></li>
                </ul>
            </div>
            <div class="one-third column">
                <p class="footer-nav-header">Curriculum</p>
                <ul class="footer-nav-content">
                    <li><a href="{% url 'create-lesson-plan' %}">Submit</a></li>
                    <li><a href="{% url 'list-lesson-plan' %}">Find</a></li>
                </ul>
                <p class="footer-nav-header">User</p>
                <ul class="footer-nav-content">
                    <li><a href="{% url 'me' %}">My account</a></li>
                    <li><a href="{% url 'account_logout' %}">Log out</a></li>
                </ul>
            </div>
            <div class="one-third column">
                <p class="footer-nav-header">Need materials?</p>
                <p class="footer-nav-content">We've got you covered! Email
                    <a href="mailto:info@teachfirstbyte.org">info@teachfirstbyte.org</a>
                </p>
                <p class="footer-nav-header">Additional Links</p>
                <ul class="footer-nav-content">
                    <li><a href="{% url 'submit-website-feedback' %}">Give us feedback</a></li>
                    <li><a href="https://github.com/lukesanantonio/firstbyte">View project on Github</a></li>
                </ul>
            </div>
        </div>
        <div class="row copyright-container free-width">
            <div class="whole column copyright">
                Copyright &copy; 2018 K. Yee, J. Lee, B. Zhang, B. Singer, L. Bialecki, F. Yusuf
            </div>
        </div>
    </footer>
</body>
</html>
