### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Static root
/static/

### PyCharm ###
.idea/

### VSCode ###
.vscode/

### Virtualenv ###
env/

### Node / JS ###
node_modules/
firstbyte/static/firstbyte/webpack_bundles/
webpack-stats.json
