[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.0.5"
django-allauth = "*"
django-heroku = "*"
django-ses = "*"
django-storages = "*"
django-webpack-loader = "*"
django-crispy-forms = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2 = "*"
inflect = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
