{% extends "firstbyte/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="container pt-4 my-5">
        <div class="row">
            <div class="col-md mr-md-4 mb-5">
                <h2 class="pb-3">Log in</h2>
                {% crispy form form.helper %}
            </div>
            <div class="col-md ml-md-4 mt-0">
                <h2 class="pb-3">Need an account?</h2>
                <ul>
                    <li>Connect with fellow educators in Boston and beyond.</li>
                    <li>Submit your own curriculum.</li>
                    <li>Leave feedback on others' lesson plans.</li>
                    <li>Be the first to know about new events and materials.</li>
                </ul>
                <div class="text-center pt-3 my-5">
                    <a href="{% url 'account_signup' %}" class="btn btn-primary"><h4 class="m-0 p-3">Sign Up</h4></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
