option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: firstbyte/wsgi.py
    aws:elasticbeanstalk:container:python:staticfiles:
        "/static/": "static/"


commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash - && sudo yum -y install nodejs'

container_commands:
    01_migrate:
        command: 'python manage.py migrate --no-input'
        leader_only: true
    02_npm_install:
        command: 'npm i'
    03_webpack:
        command: 'node_modules/webpack/bin/webpack.js'
    04_collectstatic:
        command: 'python manage.py collectstatic --no-input'