{% extends "firstbyte/base.html" %}
{% block title %}About us{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1 class="lead">We are building an online library of curricula to enrich STEM learning in the greater Boston area</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <p>
                FirstByte strives to equip educators with the resources to teach students engineering and computer science. By
                building a database of unique curricula providing strong resources, teachers will find it easier to teach new lessons
                that work for their classrooms.
            </p>
        </div>
    </div>
</div>


{% endblock %}
