{% extends "firstbyte/base.html" %}
{% block title %}Create a Lesson Plan{% endblock %}
{% block head %}
    {% load static %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    {% if LESSON_PLAN_ID %}
        <script type="text/javascript">
            window.LESSON_PLAN_ID = "{{ LESSON_PLAN_ID }}";
        </script>
    {% endif %}
    {% load render_bundle from webpack_loader %}
    {% render_bundle 'uploadLessonResource' %}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Lesson Plan Information</h4>
            </div>
            <div class="col">
                <h4>Upload supporting files</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {% crispy form form.helper %}
            </div>
            <div class="col-sm d-flex flex-column">
                <span class="lr-additional-clickarea">Attach materials by dragging &amp; dropping or clicking in the box below</span>
                <div class="lr-droparea">
                    <input type="file" class="lr-file-input" id="file-select" multiple />
                    <div id="lesson-resources" class="flex-fill">
                        <div class="lr-fallback">
                            File uploads are not supported in this browser. You may wish to try the following:
                            <ul class="text-left">
                                <li>Updating your browser</li>
                                <li>Enabling Javascript</li>
                                <li>Contact <a href="mailto:info@teachfirstbyte.org">info@teachfirstbyte.org</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100 text-center">
            <div class="col text-center">
                <p class="lesson-submission-warning"></p>
                    Please see our <a href="{% url 'faq' %}">FAQ</a> for more information.
                </p>
                <input type="submit" class="btn btn-primary" for="lesson-plan-form" id="submit-lesson-plan" value="Submit Lesson Plan"/>
            </div>
        </div>
    </container>
{% endblock %}
