{% extends "firstbyte/base.html" %}
{% block title %}Delete {{ lessonplan.title }}{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2>Are you sure you want to delete "{{ lessonplan.title }}"?</h2>
        <p>
            The lesson plan will no longer be accessible to others.<br/>
        </p>
        <div class="text-center d-flex flex-wrap align-items-stretch justify-content-center">
            <a href="{% url 'detail-lesson-plan' pk=lessonplan.id %}" class="btn btn-primary color-white mx-2">Go back!</a>
            <form id="delete-lesson-plan-form" class="text-center mx-2" method="post">{% csrf_token %}
                <input type="submit" value="Delete my lesson plan!" class="btn btn-danger" />
            </form>
        </div>
    </div>
{% endblock %}
