{% extends "firstbyte/base.html" %}
{% block title %}Upload Curriculum{% endblock %}
{% block head %}
    {% load static %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    {% if LESSON_PLAN_ID %}
        <script type="text/javascript">
            window.LESSON_PLAN_ID = "{{ LESSON_PLAN_ID }}";
        </script>
    {% endif %}
    {% load render_bundle from webpack_loader %}
    {% render_bundle 'uploadLessonResource' %}
    {% render_bundle 'curriculumForm' %}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid bg-primary py-5 text-center text-white">
        <h1 class="display-4 font-weight-bold">Upload Curriculum</h1>
        <p class="lead">Share lesson plans with other educators</p>
    </div>
    <div id="vue-container">
        <the-curriculum-form />
    </div>
{% endblock %}
