{% extends "firstbyte/base.html" %}
{% load formatting_extras %}
{% load static %}
{% block title %}List of Lesson Plans{% endblock %}
{% block content %}
    <div class="container">
        {% for lessonplan in object_list %}
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{ lessonplan.title }}</h4>
                            <p class="card-text">{{ lessonplan.summary }}</p>
                        </div>
                        <div class="card-footer d-flex flex-wrap align-items-center justify-content-between">
                            <div>
                                <i class="far fa-calendar-alt"></i>
                                <span class="sr-only">Timeline: </span>
                                <span>{% number_to_words lessonplan.num_classes True %} {% format_duration lessonplan.single_class_time %} classes</span>
                            </div>
                            <div>
                                <i class="fas fa-search"></i>
                                <span class="sr-only">Preparation timeline: </span>
                                <span>{% format_duration lessonplan.total_prep_time %} total prep time</span>
                            </div>
                            <div>
                                <i class="fas fa-thermometer-half"></i>
                                <span class="sr-only">Works best for </span>
                                <span>{{ lessonplan.get_grade_level_display }}</span>
                            </div>
                            <div>
                                <a class="btn btn-primary" href="{{ lessonplan.get_absolute_url }}">Detailed View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
