{% extends "firstbyte/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Tinos:400i" rel="stylesheet">
{% endblock %}
{% block meta %}
    <meta name="description" content="FirstByte provides educators with the materials, curricula, and support to bring computer science and engineering into their classrooms."/>
{% endblock %}
{% block content %}
<div class="container-full-bg" style="background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('{% static 'landing/img/optimized_women_in_tech.jpg' %}')">
    <div class="container special text-white">
        <div class="py-4 col-lg-8">
            <table class="pt-5" style="height:30vw; width: 100%;">
                <tbody><tr>
                    <td class="align-bottom">
                        <h1 class="font-weight-bold">Welcome to FirstByte</h1>
                        <h5>Get your first taste of teaching tech.</h5>
                    </td>
                </tr></tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="list-group list-group-flush">
        <div class="list-group-item border-top mt-5">
            <h6 class="list-group-item-title">Our Mission</h6>
            <p class="mb-5">FirstByte provides educators with the materials, curricula, and support to teach computer science and engineering in their classrooms, regardless of budget or technical background.</p>
            <div class="row justify-content-center">
                <div class="col col-xl-7 col-lg-8">
                    <div class="row">
                        <div class="col col-auto">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-square fa-stack-2x text-primary"></i>
                                <i class="fa fa-chart-line fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col">
                            <h6 class="h6 font-weight-bold">The state of K-8 computer science standards</h6>
                            <p class="description text-muted">Only 18 states have created K-8 computer science standards. Momentum is building, but we still have a long way to go.</p>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col col-auto">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-square fa-stack-2x text-primary"></i>
                                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col">
                            <h6 class="h6 font-weight-bold">Solving the diversity problem begins in K-12</h6>
                            <p class="description text-muted">Women who try computer science in high school are 10x more likely to major in it, and Black and Latinx students are 7x more likely.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-auto">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-square fa-stack-2x text-primary"></i>
                                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col">
                            <h6 class="h6 font-weight-bold">Computer science is foundational</h6>
                            <p class="description text-muted">Every 21st century student deserves the opportunity to learn about algorithms, how to make an app, or how the Internet works.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="d-flex align-items-flex-start flex-wrap justify-content-end">
                <h6 class="list-group-item-title flex-fill">Featured Curricula</h6>
                <a href="{% url 'list-lesson-plan' %}">View all curricula</a>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="{% url 'list-lesson-plan' %}">
                        <img class="img-fluid mb-3 border border-dark" src="{% static 'landing/img/curriculum/makeymakey.jpg' %}" alt="">
                        <h5 class="text-primary">Introduction to MaKey MaKey</h5>
                    </a>
                    <p class="description">Five 40-minute lessons</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="{% url 'list-lesson-plan' %}">
                        <img class="img-fluid mb-3 border border-dark" src="{% static 'landing/img/curriculum/circuitplayground.jpg' %}" alt="">
                        <h5 class="text-primary">Introduction to Circuit Playground</h5>
                    </a>
                    <p class="description">Eight 45-minute lessons</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="{% url 'list-lesson-plan' %}">
                        <img class="img-fluid mb-3 border border-dark" src="{% static 'landing/img/curriculum/lilypad.jpg' %}" alt="">
                        <h5 class="text-primary">Fashion SENCE with Arduino</h6>
                    </a>
                    <p class="description">Ten 2-hour lessons</p>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="d-flex align-items-flex-start flex-wrap justify-content-end">
                <h6 class="list-group-item-title flex-fill">Loaner Program</h6>
                <a href="{% url 'loaner-program' %}">Reserve a kit</a>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'loaner-program' %}">
                        <img class="img-fluid mb-3 border border-dark" src="{% static 'landing/img/curriculum/makeymakey.jpg' %}" alt="">
                        <h5 class="text-primary">MaKey MaKey</h5>
                    </a>
                    <p class="description">2 kits of 12 boards each</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'loaner-program' %}">
                        <img class="img-fluid mb-3 border border-dark" src="{% static 'landing/img/curriculum/circuitplayground.jpg' %}" alt="">
                        <h5 class="text-primary">Circuit Playground</h5>
                    </a>
                    <p class="description">2 kits of 15 boards each</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'loaner-program' %}">
                        <img class="img-fluid mb-3 border border-dark" src="{% static 'landing/img/curriculum/lilypad.jpg' %}" alt="">
                        <h5 class="text-primary">LilyPad Arduino</h6>
                    </a>
                    <p class="description">1 kit of 10 boards</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'loaner-program' %}">
                        <img class="img-fluid mb-3 border border-dark" src="{% static 'landing/img/curriculum/microbit.jpg' %}" alt="">
                        <h5 class="text-primary">micro:bit & bit:booster</h6>
                    </a>
                    <p class="description">1 kit of 10 boards</p>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="d-flex flex-row justify-content-between align-items-center mt-5 flex-column flex-sm-row ">
                <div class="flex-column col-sm-4 ">
                    <h6 class="font-weight-bold ">Subscribe to our newsletter</h6>
                    <p class="description">Don't miss information about new events and volunteer opportunities! Opt out anytime.</p>
                </div>
                <div class="input-group col-sm-5 align-self-center">
                    <input name="q" type="text" class="form-control" placeholder="Email address" value="{% if form.q.value %}{{ form.q.value }}{% endif %}"/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"> Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
