{% extends "firstbyte/base.html" %}
{% load static %}
{% block title %}Loaner Program{% endblock %}
{% block meta %}
    <meta name="description" content="Borrow electronics from FirstByte for your classroom." />
{% endblock %}
{% block content %}
<div class="container-full-bg" style="background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('{% static 'loaner/loaner.jpg' %}')">
    <div class="container special text-center text-white">
        <div class="jumbotron jumbotron-fluid no-bg">
            <table style="height:30vw; width: 100%;">
                <tbody><tr>
                    <td class="align-bottom">
                        <h1 class="display-3 font-weight-bold">Loaner Program</h1>
                        <p class="lead">Borrow electronics from FirstByte for your classroom</p>
                    </td>
                </tr></tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>If you're in the Boston area and need materials, we're here to help. FirstByte's loaner program gives local educators the chance to borrow various technology kits to use in their classrooms. Email us at <a href="mailto:info@teachfirstbyte.org">info@teachfirstbyte.org</a> to reserve!</p>
            <p>Our inventory is as follows:
            <ul>
                <li>1 Lilypad Arduino kit - <i>contains 10 boards</i></li>
                <li>1 MaKey MaKey kit - <i>contains 12 boards</i></li>
                <li>1 Circuit Playground Classic kit - <i>contains 15 boards</i></li>
                <li>1 Circuit Playground Express kit - <i>contains 15 boards</i></li>
            </ul></p>
            <div class="text-center my-5">
                <a href="mailto:info@teachfirstbyte.org" class="btn btn-primary"><h4 class="m-0 p-3">Reserve Now!</h4></a>
            </div>
            <p class="text-center">Use the calendar below to determine which materials have already been reserved.</p>
        </div>
    </div>
    <div class="row">
        <div class="col iframe-center">
            <iframe class="iframe-center" src="https://calendar.google.com/calendar/b/3/embed?title=FirstByte%20Loaner%20Program%20Inventory&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lnt0ba30qe3cegahjlgop9nbu0%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=oe6ra9bk5oifdu2isuvqg1sqr0%40group.calendar.google.com&amp;color=%230F4B38&amp;src=6f3n47etsqmak4p21qmfgmna7s%40group.calendar.google.com&amp;color=%2342104A&amp;src=m49bn2tq25m1hpbr2uelbcvl2g%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    <br>
</div>
{% endblock %}
