{% extends "firstbyte/base.html" %}
{% load static %}
{% block title %}Loaner Program{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'landing/style/loaner.css'%}" type="text/css" />
{% endblock %}
{% block meta %}
    <meta name="description" content="Loan electronics from FirstByte for your classes." />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="display-4 text-center">FirstByte Loaner Program</h2>
            <p>If you're in the Boston area and need materials, we're here to help. Email us at <a href="mailto:info@teachfirstbyte.org">info@teachfirstbyte.org</a> to reserve!</p>
            <p>Our inventory is as follows:
            <ul>
                <li>Lilypad Arduinos x10</li>
                <li>MaKey MaKey x12</li>
                <li>Circuit playground classic x15</li>
                <li>Circuit playground express x15</li>
            </ul></p>
            <p class="text-center">Use the calendar below to determine which materials have already been reserved.</p>
        </div>
    </div>
    <div class="row">
        <div class="col" id="calendar-container">
            <iframe src="https://calendar.google.com/calendar/b/3/embed?title=FirstByte%20Loaner%20Program%20Inventory&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lnt0ba30qe3cegahjlgop9nbu0%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=oe6ra9bk5oifdu2isuvqg1sqr0%40group.calendar.google.com&amp;color=%230F4B38&amp;src=6f3n47etsqmak4p21qmfgmna7s%40group.calendar.google.com&amp;color=%2342104A&amp;src=m49bn2tq25m1hpbr2uelbcvl2g%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>
{% endblock %}
