{% extends "firstbyte/base.html" %}
{% load static %}
{% block title %}Privacy Policy{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'landing/style/landing.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Tinos:400i" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container font-serif">
    <h2 class="display-4 mb-5">Privacy Policy</h2>
    <p>Effective Date:  August 1, 2018</p>
    <p>This privacy notice discloses the privacy practices for FirstByte and our website, <a href="/">https://teachfirstbyte.com</a>. This privacy notice applies solely to information collected by this website, except where stated otherwise. It will notify you of the following:
        <ul>
            <li>What information we collect;</li>
            <li>With whom it is shared;</li>
            <li>How it can be corrected;</li>
            <li>How it is secured;</li>
            <li>How policy changes will be communicated; and</li>
            <li>How to address concerns over misuse of personal data.</li>
        </ul>
    </p>
    <p><b>Information Collection, Use, and Sharing</b></p>
    <p>We only have access to/collect information that you voluntarily give us via email, account creation, curriculum submission, or other direct contact from you. We will not sell or rent this information to anyone.</p>
    <p>We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g., to deliver hardware materials.</p>
    <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>

<p><b>Your Access to and Control Over Information</b></p>
<p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via info at teachfirstbyte.org:
    <ul>
        <li>See what data we have about you, if any.</li>
        <li>Change/correct any data we have about you.</li>
        <li>Have us delete any data we have about you.</li>
        <li>Express any concern you have about our use of your data</li>
    </ul>
</p>

<p><b>Your Account</b></p>
<p>In order to upload and comment on curricula, a user must first create an account on <a href="/">https://teachfirstbyte.com</a>. To create an account, a user is required to give certain information (such as name and email address). This information is used to identify you on our website, and to contact you should the need arise. At your option, you may also provide demographic information (such as gender or age) about yourself, but it is not required.</p>

<p><b>Curricula Submissions</b></p>
<p>We request information from you on our curriculum submission form. This information is used to catalogue your curriculum in our database, and is not personal or sensitive material. If we have trouble processing your submission, we will use your account information to contact you.</p>

<p><b>Security</b></p>
<p>We take precautions to protect your information. When you submit personal information via the website, your information is protected both online and offline.</p>
<p>Wherever we collect sensitive information (such as passwords), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>
<p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. The computers/servers on which we store personally identifiable information are kept in a secure environment.</p>

<p><b>Cookies</b></p>
<p>We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to enter a password more than once, thereby saving you time while on our site.</p>

<p><b>Links</b></p>
<p>This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>

<p><b>Surveys</b></p>
<p>Our loaner program requests information via surveys. By voluntarily participating in the loaner program, you agree to participate and therefore disclose this information. Information requested may include contact information (such as name and email), and demographic information (such as zip code and gender). Contact information will be used to contact you with any follow-up concerns. Survey information will be used for purposes of monitoring and improving the use and satisfaction of the loaner program.</p>

<p><b>Notification of Changes</b></p>
<p>Material changes made to the privacy notice will be announced on <a href="/">https://teachfirstbyte.com</a></p>

<p><b>Other Provisions as Required by Law</b></p>
<p>All curricula on <a href="/">https://teachfirstbyte.com</a> is licensed under a Creative Commons Attribution-NonCommercial 4.0 International license (CC BY-NC 4.0).</p>
<p>Under the following terms:
    <ul>
        <li><b>Attribution</b>: You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</li>
        <li><b>NonCommercial</b>: You may not use the material for commercial purposes.</li>
        <li><b>No additional restrictions</b>: You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.</li>
    </ul>
</p>
<p>You are free to:
    <ul>
        <li><b>Share</b>: copy and redistribute the material in any medium or format.</li>
        <li><b>Adapt</b>: remix, transform, and build upon the material.</li>
    </ul>
</p>
<p>The uploader of curriculum cannot revoke these freedoms as long as you follow the license terms.</p>
<p>Read more about the CC BY-NC license here: <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode">https://creativecommons.org/licenses/by-nc/4.0/legalcode</a></p>

<p><b>If you feel that we are not abiding by this privacy policy, you should contact us immediately via email, at info at teachfirstbyte.org.</b></p>

</div>
{% endblock %}
