{% extends 'firstbyte/base.html' %}
{% load static %}
{% block title %}Get Involved{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'events/style/events.css' %}" />
{% endblock %}
{% block meta %}
    <meta name="description" content="Get involved with FirstByte." />
{% endblock %}
{% block content %}
    <div class="container-full-bg mb-5" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{% static 'volunteer/team.jpg' %}')">
        <div class="container special text-center text-white">
            <div class="jumbotron jumbotron-fluid no-bg">
                <table style="height:30vw; width: 100%;">
                    <tbody><tr>
                        <td class="align-bottom">
                            <h1 class="display-3 font-weight-bold">Get Involved</h1>
                            <p class="lead">Join the FirstByte community!</p>
                        </td>
                    </tr></tbody>
                </table>
            </div>
        </div>
    </div>
    <section class="pt-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x mb-3">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="font-weight-bold mb-3">Get in touch</h4>
                    <p class="text-muted">Email us at <a href="mailto:info@teachfirstbyte.org">info@teachfirstbyte.org</a> for any inquiries, or to borrow technology kits.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x mb-3">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hands-helping fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="font-weight-bold mb-3">Volunteer with us</h4>
                    <p class="text-muted">Volunteering with FirstByte is an exciting opportunity to make an impact and develop yourself professionally. <a href="{% url 'volunteer-redirect' %}">Click here to fill out our volunteer form</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x mb-3">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="font-weight-bold mb-3">Explore and share curricula</h4>
                    <p class="text-muted"><a href="{% url 'list-lesson-plan' %}">Explore our library of curricula</a> or <a href="{% url 'create-lesson-plan' %}">submit your own</a>.</p>
                </div>
            </div>
            <div class="container my-5">
                <div class="row">
                    <div class="col">
                        <h2 class="text-center"><b>Teams of FirstByte</b></h2>
                        <p>If you’re interested in joining our group and making a difference in one of these teams, please send us an email or drop by one of our meetings!</p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col-md landing-section pt-2">
                        <p><b>The Educator Enablement Team</b> is FirstByte’s primary point of contact with our audience. Members on this team work directly with teachers and facilitate the loaner program. They also network with schools, educators, parents, and organizations to implement technology curricula and identify the community’s unaddressed needs.</p>
                    </div>
                    <div class="col-md landing-section pt-2">
                        <p><b>The Curriculum Team</b> creates exciting new technology curricula for teachers to integrate into their everyday lessons. They research new educational technologies, work to understand educators’ needs, and write lesson plans that fulfill Massachusetts’ Digital Literacy Standards.</p>
                    </div>
                    <div class="col-md landing-section pt-2">
                        <p><b>The Operations Team</b> is responsible for keeping FirstByte running smoothly. Members of this team are tasked with keeping the loaner kits in order, managing the budget, and reserving spaces for our weekly meetings and special events.</p>
                    </div>
                    <div class="col-md landing-section pt-2">
                        <p><b>The Brand & Marketing Team</b> brings in speakers, creates digital content, and promotes the FirstByte name and brand. This team is responsible for everything from website content to social media to recruiting new members.</p>
                    </div>
                    <div class="col-md landing-section pt-2">
                        <p><b>The Website Team</b>, comprising UX designers and programmers, is responsible for maintaining and improving the website. FirstByte developers write clean code to create a rewarding user experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-6">
        <div class="container">
            {% for section_title, event_list in event_set.items %}
                {% if section_title %}
                    <div class="row">
                        <div class="col">
                            <h2 class="display-3 text-center">{{ section_title }}</h2>
                        </div>
                    </div>
                    {% for event in event_list %}
                        <div class="row">
                            <div class="col">
                                <div class="card mb-4">
                                    {% if event.event_image_path %}
                                        <img class="card-image-top event-image" src="{{ event.event_image_path }}" />
                                    {% endif %}
                                    <div class="card-body">
                                        <h3 class="card-title">{{ event.title }}</h3>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ event.start_datetime|date:"DATETIME_FORMAT" }} </h6>
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <p class="card-text my-0 py-0">{{ event.blurb }}</p>
                                            <a href="{{ event.get_absolute_url }}" class="btn btn-primary">See details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}