{% extends 'firstbyte/base.html' %}
{% load static %}
{% block title %}Get Involved{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'events/style/events.css' %}" />
{% endblock %}
{% block meta %}
    <meta name="description" content="Get involved with FirstByte." />
{% endblock %}
{% block content %}
    <div class="container-full-bg" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{% static 'volunteer/team.jpg' %}')">
        <div class="container special text-center text-white">
            <div class="jumbotron jumbotron-fluid no-bg">
                <table style="height:30vw; width: 100%;">
                    <tbody><tr>
                        <td class="align-bottom">
                            <h1 class="display-3 font-weight-bold">Get Involved</h1>
                            <p class="lead">Join the FirstByte community!</p>
                        </td>
                    </tr></tbody>
                </table>
            </div>
        </div>
    </div>
    <section class="pt-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x mb-3">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="font-weight-bold mb-3">Get in touch</h4>
                    <p class="text-muted">Email us at <a href="mailto:info@teachfirstbyte.org">info@teachfirstbyte.org</a> for any inquiries, or to borrow technology kits.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x mb-3">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hands-helping fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="font-weight-bold mb-3">Volunteer with us</h4>
                    <p class="text-muted">Volunteering with FirstByte is an exciting opportunity to make an impact and develop yourself professionally. <a href="{% url 'volunteer-redirect' %}">Click here to fill out our volunteer form</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x mb-3">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="font-weight-bold mb-3">Explore and share curricula</h4>
                    <p class="text-muted"><a href="{% url 'list-lesson-plan' %}">Explore our library of curricula</a> or <a href="{% url 'create-lesson-plan' %}">submit your own</a>.</p>
                </div>
            </div>
            <div class="container my-5">
                <div class="row">
                    <div class="col">
                        <p>Are you a <b>college student</b> passionate about furthering technology education for the next generation? Join our team of volunteers making lesson plans, supporting local educators, building our website, and hosting events.</p>
                        <p>Are you an <b>educator</b> looking for exciting ways to incorporate technology curriculum into your K-12 classroom? Browse our collection of curricula, email us to borrow technology kits, and help out others by posting your own lesson plans!</p>
                        <p>See below for our upcoming & past events.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-6">
        <div class="container">
            {% for section_title, event_list in event_set.items %}
                {% if section_title %}
                    <div class="row">
                        <div class="col">
                            <h2 class="display-3 text-center">{{ section_title }}</h2>
                        </div>
                    </div>
                    {% for event in event_list %}
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    {% if event.event_image_path %}
                                        <img class="card-image-top event-image" src="{{ event.event_image_path }}" />
                                    {% endif %}
                                    <div class="card-body">
                                        <h3 class="card-title">{{ event.title }}</h3>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ event.start_datetime|date:"DATETIME_FORMAT" }} </h6>
                                        <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                                            <p class="card-text my-0 py-0">{{ event.blurb }}</p>
                                            <a href="{{ event.get_absolute_url }}" class="btn btn-primary">See details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}