/* Main layout */
body {
    min-height: 100vh;
}

.bg-green {
    background-color: #436d4e;
}

.jumbotron {
    min-height: 30vw;
    margin: 0;
}

.no-bg {
    background: none;
}

.container-full-bg {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.flex-wrap {
    flex-wrap: wrap;
}

footer {
    width: 100%;
    font-size: 0.875rem;
}

.footer-bg-container {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.footer-nav-header {
    font-size: 0.75rem;
    font-weight: bold;
    padding-top: 1.1rem;
    padding-bottom: 0.2rem;
}

.footer-license {
    font-size: 0.625rem;
    padding-top: 2.5rem;
}

.footer-copyright {
    font-size: 0.625rem;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: inherit;
    text-decoration: underline;
}

.errorlist {
    background-color: #f7e4e1;
    border: 1px solid #cacaca;
    list-style-position: inside;
    padding: 1em;
}

.badge-outlined {
    background-color: transparent;
    border: 1px solid #999;
    padding: 0.5em 1em;
}

.badge-outlined.badge-secondary {
    border-color: #323a45;
    color: #323a45
}

.align-center input {
    margin: auto;
}

#file-select {
    display: none;
}

.lesson-submission-warning {
    font-size: 0.75em;
}

.progress {
    height: 4px;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.color-white {
    color: white !important;
}

.quote-text {
    font-size: 1.4em;
}

.font-serif {
    font-family: serif;
}

.mb-6 {
    margin-bottom: 5em;
}

.landing-section:nth-child(even) {
    background-color: #f1f1f1;
}

.lr-droparea {
    height: 100%;
    min-height: 10em;
    border: 1px dashed #cacaca;
}

.lr-pending-drop {
    background-color: lightskyblue;
}

.nav-link {
    color: white !important;
    font-size: 0.875em;
    margin-bottom: 0px;
}

.iframe-center {
    display: inline-block !important;
    text-align: center !important;
}

.navbar-nav {
    margin-left: 15%;
}

.navbar .navbar-toggler {
    color: white;
    border-color: rgba(255, 255, 255, 0.1);
}

.find-share-curricula {
    font-size: 2em;
}

.curriculum-title {
    font-weight: bold;
}

.curriculum a {
    display: block;
    font-weight: normal;
    text-decoration: none;
    font-size: 0.75em;
    overflow-x: hidden;
    overflow-y: auto;
}

.curriculum-text {
    font-weight: normal;
    color: black;
    font-size: 1rem;
}

.card-hover-shadow {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.fa-star {
    color: #dddddd;
}

hr {
    border: 1px solid #b8b4b4;
    margin: 80px 0px;
}

.description {
    font-size: 0.75em;
}

.list-group-item {
    padding-bottom: 5em;
}

.list-group-item-title {
    font-weight: bold;
    margin-bottom: 3em;
}

.navbar-brand {
    color: white !important;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 0.6em;
    margin-left: 2em;
}

.team-member img {
    width: 225px;
    height: 225px;
}

.error-text {
    margin: auto;
    text-align: center;
}

.lessonplan-author {
    font-size: 0.875em;
}

.badge.lessonplan-info {
    font-size: 0.875em;
    font-weight: 400;
}

.lessonplan-action-button {
    font-size: 0.875em;
}
