/* Fonts */

body {
    font-family: 'Open Sans', sans-serif;
}
header, footer {
    font-family: 'Montserrat', sans-serif;
}

/* Main layout */
body {
    min-height: 100vh;
}

.bg-green {
    background-color: #436D4E;
}

.jumbotron {
    min-height: 30vw;
    margin: 0;
}

.no-bg {
    background:none;
}

.container-full-bg {
    width:100%;
    height:100%;
    max-width:100%;
    background-position:center;
    background-size:cover;
    margin-bottom: 4rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

a {
    font-weight: bold;
}

footer {
    width: 100%;
    font-size: .9rem;
}
.footer-bg-container {
    width: 100%;
    padding: 2rem 0;
}

.footer-nav-header {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 1.1rem;
    padding-bottom: .2rem;
}

footer a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

footer a:hover {
    color: inherit;
    text-decoration: underline;
}

.errorlist {
    background-color: #f7e4e1;
    border: 1px solid #cacaca;
    list-style-position: inside;
    padding: 1em;
}

.align-center input {
    margin: auto;
}

#file-select {
    display: none;
}

.lesson-submission-warning {
    font-size: .75em;
}

.progress {
    height: 4px;
}

.align-items-center {
    align-items: center;
}
.align-items-flex-start {
    align-items: flex-start;
}

.color-white {
    color: white !important;
}

.quote-text {
    font-size: 1.4em;
}

.font-serif {
    font-family: serif;
}

.mb-6 {
    margin-bottom: 5em;
}

.landing-section:nth-child(even) {
    background-color: #f1f1f1;
}

.lr-droparea {
    height: 100%;
    min-height: 10em;
    border: 1px dashed #cacaca;
}
.lr-pending-drop {
    background-color: lightskyblue;
}

.nav-link {
    color: rgba(255, 255, 255, .75) !important;
    font-weight: 500;
    font-size: 1em;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.iframe-center {
    display: inline-block !important;
    text-align: center !important;
}