.search-bar {
    margin: 1em 0;
}

#content-row, .lesson-plan-card, .lesson-plan-card-container, .lesson-plan-cards {
    overflow: visible;
}

.lesson-plan-card {
    display: block;

    text-decoration: none;
    color: inherit;

    padding: 1rem;

    border: 1px solid #cacaca;
    border-radius: 3px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    overflow: auto;
}
.lesson-plan-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.lesson-plan-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}
.lesson-plan-summary, .lesson-plan-grade-level, .lesson-plan-class-time {
    color: dimgray;
}
.lesson-plan-grade-level, .lesson-plan-class-time, .lesson-plan-card-more-info, .lesson-plan-card-bookmark {
    display: inline;
}

.lesson-plan-card-toolbar {
    display: block;
}

.lesson-plan-card-more-info, .lesson-plan-card-bookmark {
    display: inline-block;
    margin: 1em 0 0;
}