.errorlist {
    background-color: #f7e4e1;
    border: 1px solid #cacaca;
    list-style-position: inside;
    padding: 1em;
}

form input, form select, form textarea {
    /* Show most input fields on their own line */
    display: block;

    padding: .75em;
    border-radius: 3px;
    border: 1px solid #cacaca;
    outline: none;
}

form input[type='submit'] {
    padding: .5em 1em;
}

form input[type='checkbox'] {
    /* Checkboxes go on the same line as their label */
    display: inline-block;
}

form input:focus, form select:focus, form textarea:focus{
    box-shadow: 0 0 5px #cacaca;
    border: 1px solid lightblue;
}

.align-center input {
    margin: auto;
}

#file-select {
    display: none;
}

.file-upload-button {
    display: inline-block;

    padding: .5em 1em;

    border: 1px solid #cacaca;
    border-radius: 3px;

    background-color: buttonface;
}

.file-upload-button:active {
    border: 1px solid lightblue;
}

.lesson-resource-form {
    padding: 1em;
}

.lesson-resource-form input {
    display: inline-block;
}

.lesson-submission-warning {
    font-size: .75em;
}
