/* Fonts */

body {
    font-family: 'Open Sans', sans-serif;
}
header, footer {
    font-family: 'Montserrat', sans-serif;
}
footer {
    font-size: .9em;
}

/* Header */
#header-container {
    width: 100%;
    background-color: #212529;

    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.2s ease-in-out;
}

.header-up {
    top: -64px !important;
}

header {
    display: flex !important;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    height: 64px;
}

@media only screen and (max-width: 650px) {
    header {
        height: auto;
    }
}

header a {
    font-size: 0.9em;
    color:white;
    text-decoration: none;
}
header a:hover {
    color: #436D4E;
}

#logo {
    height: 40px;
    width: auto;
}

#user-banner {
    padding-bottom: 0;
    color: white;
}

/* Navigation Bar */
nav {
    display: inline-flex;
    flex-grow: 1;

    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 1em;
}

/* Body content */
body {
    font-family: sans-serif;
}

#content {
    background-color: white;
    margin: 1em 0;
    margin-top: 64px;
}

/* Footer */
footer {
    color: lightgray;
    background-color: #436D4E;
}

.footer-nav-header {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .2em;
}

.footer-nav-content {
    padding-left: 0;
    margin-top: 0;
}
ul.footer-nav-content {
    list-style-type: none;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Copyright (below the footer) */
.copyright-container {
    background-color: #212529;
}

.copyright {
    text-align: center;
    color: lightgray;
}

.lesson-plan-container {
    display: block;
    border: 1px solid #cacaca;
    text-decoration: none;
    color: inherit;
}
